<!DOCTYPE HTML>
<html>
	{% include head.html %}
	<style type="text/css">
		.main section ul {
			font-size: 1.5rem
		}
		.main section ol {
			font-size: 1.5rem
		}
		
	</style>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<header id="header" class="alt">
					<!-- <span class="logo"><img src="{{ 'assets/images/profile-small.png' | relative_url }}" alt="" /></span> -->
					<h1>{{ page.title }}</h1>
					<h2>{{ page.subtitle }}</h2>
				</header>

				<!-- Main -->
				<div id="main">
					<section id="first" class="main">
						<section>
							{{content}}
						</section>
					</section>
				</div>

				<!-- Footer -->
				{% include footer.html %}
			</div>

		{% include scripts.html %}
	</body>
</html>