<!DOCTYPE HTML>
<html>
	{% include head.html %}
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				{% include header.html %}

				{{ content }}
				
				<!-- Footer -->
				{% include footer.html %}
			</div>

		{% include scripts.html %}
	</body>
</html>