---
layout: default
---

<!-- Nav -->
	<nav id="nav">
		<ul>
			<li><a href="#intro" class="active">Introduction</a></li>
			<li><a href="#first">Schedule</a></li>
			<li><a href="#second">Recent Updates</a></li>
			<li><a href="#footer">Contact Details</a></li>
		</ul>
	</nav>

<!-- Main -->
	<div id="main">

		<!-- Introduction -->
			<section id="intro" class="main">
				<div class="spotlight">
					<div class="content">
						<header class="major">
							<h2>About Richard Mathew Stallman</h2>
						</header>
						
						<p class="content">Richard Matthew Stallman, often known by his initials, RMS, is an American free software movement activist and programmer. He campaigns for software to be distributed in a manner such that its users receive the freedoms to use, study, distribute and modify that software. Stallman launched the GNU Project, founded the Free Software Foundation, developed the GNU Compiler Collection and GNU Emacs, and wrote the GNU General Public License.</p>
						<p >RMS will be visiting India and this site is for getting all the info you need for attending his talks</p>
						
<!-- 						<ul class="actions">
							<li><a href="https://en.wikipedia.org/wiki/Richard_Stallman" class="button" target="_blank">Learn More</a></li>
						</ul> -->
					</div>
					<span class="image"><img src="{{ 'assets/images/profile.png' | relative_url }}" alt="" /></span>
				</div>
			</section>

		<!-- First Section -->
			<section id="first" class="main special">
				<header class="major">
					<h2>Schedule</h2>
				</header>

				<!-- The Timeline -->

				<ul class="timeline">

					{%- assign counter=1 -%}
					{%- for city in site.cities -%}
						{% assign temp=counter | modulo: 2 %}
						{% if temp==0 %}
						<li>
							<div class="direction-r">
								<div class="flag-wrapper">
									<span class="flag">{{city.title}}</span>
									<span class="time-wrapper"><span class="time"> {{city.dates}}</span></span>
								</div>
								<div class="desc">
										<a href="{{ city.url | relative_url }}">Read More</a>
								</div>
							</div>
						</li>
						{% else %}
						<li>
							<div class="direction-l">
								<div class="flag-wrapper">
									<span class="flag">{{city.title}}</span>
									<span class="time-wrapper"><span class="time"> {{city.dates}}</span></span>
								</div>
								<div class="desc">
										<a href="{{ city.url | relative_url }}">Read More</a>
								</div>
							</div>
						</li>
						{% endif %}
						{%- assign counter = counter | plus:1 -%}
					{%- endfor -%}
				</ul>
			</section>

		<!-- Second Section -->
			<section id="second" class="main special">
				<header class="major">
					<h2>Recent Updates</h2>
					<p>Donec imperdiet consequat consequat. Suspendisse feugiat congue<br />
					posuere. Nulla massa urna, fermentum eget quam aliquet.</p>
				</header>
				
				<p>
					<ul style="text-align: left;">
						{%- for post in site.posts -%}
							<li><a href="{{ post.url | relative_url }}">{{post.date}}</a><h3>{{post.title}}</h3></li>
						{%- endfor -%}
					</ul>
				</p>
				
				<footer class="major">
					<ul class="actions special">
						<li><a href="generic.html" class="button">Learn More</a></li>
					</ul>
				</footer>

			</section>

		<!-- Get Started 
			<section id="cta" class="main special">
				<header class="major">
					<h2>Contact Information</h2>
					<p>Donec imperdiet consequat consequat. Suspendisse feugiat congue<br />
					posuere. Nulla massa urna, fermentum eget quam aliquet.</p>
				</header>

				<footer class="major">
					<ul class="actions special">
						<li><a href="generic.html" class="button primary">Get Started</a></li>
						<li><a href="generic.html" class="button">Learn More</a></li>
					</ul>
				</footer>
			</section>

			 -->
	</div>
