<!DOCTYPE HTML>
<html>
	{% include head.html %}
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				{% include header.html %}

				<!-- Main -->
				<div id="main">
					<section id="first" class="main">
						<section>
							<h1>{{ page.title }}</h1>
							<h4>Time: {{page.date}}</h4>
							{{content}}
						</section>
					</section>
				</div>

				<!-- Footer -->
				{% include footer.html %}
			</div>

		{% include scripts.html %}
	</body>
</html>