<footer id="footer" style="color: #FFF">
 	<section>
		<h2>Contact Details</h2>
		<p>Please feel free to reach out to the following people for help or more information:</p>
		<dl class="alt">
			<dt>Bangalore</dt>
			<dd>
				<ul>
					<li>Abhas Abhinav: <a href="mailto:abhas@deeproot.in">abhas@deeproot.in</a></li>
					<li>Renuka Prasad B: <a href="mailto:renukaprasadb@rvce.edu.in">renukaprasadb@rvce.edu.in</a></li>
				</ul>
			</dd>
			<dt>Trivandrum</dt>
			<dd>
				<ul>
					<li>Arun M: <a href="mailto:arun@space-kerala.org">arun@space-kerala.org</a></li>
				</ul>
			</dd>
			<dt>Delhi</dt>
			<dd>
				<ul>
					<li>Abhas Abhinav: <a href="mailto:abhas@deeproot.in">abhas@deeproot.in</a></li>
					<li>Nishant Sharma: <a href="mailto:nishant@unmukti.in">nishant@unmukti.in</a></li>
				</ul>
			</dd>
		</dl>
		<h3>For Volunteering and Website Feedback</h3>
		<ul>
			<li>Abhas Abhinav: <a href="mailto:abhas@deeproot.in">abhas@deeproot.in</a></li>
		</ul>
		
	</section>
 	<section>
		<h2>Subscribe to Our Newsletter</h2>
		<p>To get updates on the events sent directly to your email, please subscribe to our newsletter.</p>
		<form method="post" action="#">
			<div class="row gtr-uniform">
				<div class="col-11 col-12-xsmall">
					<input type="text" name="demo-name" id="demo-name" value="" placeholder="Name" />
				</div>
				<div class="col-11 col-12-xsmall">
					<input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
				</div>
				<div class="col-6 col-12-small">
					<input type="checkbox" id="demo-copy" name="demo-copy">
					<label for="demo-copy">Email me a copy</label>
				</div>
				<div class="col-6 col-12-small">
					<input type="checkbox" id="demo-human" name="demo-human" checked>
					<label for="demo-human">Not a robot</label>
				</div>
				<div class="col-12">
					<ul class="actions">
						<li><input type="submit" value="Send Message" class="default" /></li>
						<li><input type="reset" value="Reset" class="default" /></li>
					</ul>
				</div>
			</div>
		</form>
		<ul class="icons">
			<li><a href="#" class="icon fa-twitter alt"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon fa-facebook alt"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="icon fa-instagram alt"><span class="label">Instagram</span></a></li>
			<li><a href="#" class="icon fa-github alt"><span class="label">GitHub</span></a></li>
			<li><a href="#" class="icon fa-dribbble alt"><span class="label">Dribbble</span></a></li>
		</ul>
	</section>
	<p class="copyright">&copy; <a href="https://fsf.org.in">FSF India</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
</footer>