{% unless page.header==true %}
<header id="header" class="alt">
	<span class="logo"><img src="{{ 'assets/images/fsf_logo.png' | relative_url }}" alt="" /></span>
	<h1>RMS India Tour, 2019</h1>
	<!-- p>Just another free, fully responsive site template<br />
	built by <a href="https://twitter.com/ajlkn">@ajlkn</a> for <a href="https://html5up.net">HTML5 UP</a>.</p -->
</header>
{% endunless %}