<head>
	<title>{{ page.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="">
	
	<link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" />
	{% if page.timeline==true %}
	<link rel="stylesheet" href="{{ 'assets/css/timeline.css' | relative_url }}" />
	{% endif %}
	<noscript><link rel="stylesheet" href="{{ 'assets/css/noscript.css' | relative_url }}" /></noscript>
</head>