<!-- Scripts -->
<script src="{{ 'assets/js/jquery.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/jquery.scrollex.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/jquery.scrolly.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/browser.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/breakpoints.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/util.js' | relative_url }}"></script>
<script src="{{ 'assets/js/main.js' | relative_url }}"></script>